<!-- Controls template inheritance across all pages. -->

<html>
     <head>
          {% if title %}
          <title>{{ title }} - FlaskApp</title>
          {% else %}
          <title>Welcome to ze FlaskApp</title>
          {% endif %}
     </head>

     <body>
          <div>FlaskApp: <a href="/index">Home</a></div>
          <hr>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
     </body>
</html>
